body{
	margin: 0;
	background-color:#FFFFFF;
}

.top{

	margin: auto;
	padding-bottom: 10px;
	
}


h1{
	font-family: Arial Black;
	letter-spacing: 0.1em;
	
}

h2{
	font-family: Arial;
}

h3{
	font-family: Arial;

}


#navbar{
	
	background-color:#1D566E;
	color: black;
	overflow: hidden;
}

#navbar ul{
	padding: 1px;
	list-style: none;


}

#navbar li{
	display: inline;
}

#navbar a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-family: Arial;
	padding-right: 15px;
	margin:25px;
}

.active {
  padding: 18px;
  background-color: black;
}

	
.block{
	background-color:#21ABA5; 
	font-family: Arial;
	float: left;
	width: 50%; 
	padding: 10px;
	box-sizing: border-box;
	line-height: 2em;
}

.my-form{
	background-color:#FFFFFF; 
	font-family: Arial;
	float: left;
	line-height: 2em;
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.button{
    text-align: center;
    align-content: center;
        
    
}
#mybutton{
    margin: 32px;
    background: #000;
    color: #fff;
    font-size: 1.0rem;
    border-radius:10px;
    padding: 6px;
    height: 100%;
}

